<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>dotify</title>
    </head>
    <body>
        <div class="top-nav">
            <a class="top-nav-main" href="/">
                <span>spotify music recommender</span>
            </a>
            <a href="/">
                <span>how's this work?</span>
            </a>
        </div>
        <div id="app"></div>
        <script src="../assets/index.js"></script>
    </body>
</html>
