<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Natural Language Form</title>
		<meta name="description" content="Natural Language Form with custom text input and drop-down lists" />
		<link rel="stylesheet" type="text/css" href="static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="static/css/component.css" />
		<script src="static/js/modernizr.custom.js"></script>
	</head>
	<body class="nl-blurred">
		<div class="container demo-1">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Development/MorphingDevices/"><span>spotify music recommender</span></a>
				<span class="right"><a href="http://tympanus.net/codrops/?p=15139"><span>how's this work?</span></a></span>
			</div>
			<div class="main clearfix">
				<form id="nl-form" class="nl-form">
					I want music like
					<select>
						<option value="1" selected>country</option>
						<option value="2">Indian</option>
						<option value="3">French</option>
						<option value="4">Japanese</option>
						<option value="2">Italian</option>
					</select>
					<br />in a
					<select>
						<option value="1" selected>standard</option>
						<option value="2">fancy</option>
						<option value="3">hip</option>
						<option value="4">traditional</option>
						<option value="2">romantic</option>
					</select>
					restaurant
					<br />at
					<select>
						<option value="1" selected>anytime</option>
					 	<option value="1">7 p.m.</option>
					 	<option value="2">8 p.m.</option>
					 	<option value="3">9 p.m.</option>
					</select>
					in <input type="text" value="" placeholder="any city" data-subline="For example: <em>Los Angeles</em> or <em>New York</em>"/>
					<div class="nl-submit-wrap">
						<button class="nl-submit" type="submit">Go</button>
					</div>
					<div class="nl-overlay"></div>
				</form>
			</div>
		</div><!-- /container -->
		<script src="static/js/nlform.js"></script>
		<script>
			var nlform = new NLForm( document.getElementById( 'nl-form' ) );
		</script>
	</body>
</html>