@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-family: 'Lato', Calibri, Arial, sans-serif;
@background-color-main: #CCE5FF;
@font-color-main: #004a99;

body, html { font-size: 100%; padding: 0; margin: 0;}

body {
	font-family: @font-family;
	color: @font-color-main;
	background: @background-color-main;
	font-weight: 300;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

.top-nav {
	background: #fff;
	background: rgba(255, 255, 255, 0.4);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 4.0;
}

.top-nav > a {
	padding: 0 1.5em;
	letter-spacing: 0.1em;
	color: #00004d;
	font-weight: 500;
	display: inline-block;
}

.top-nav > a:hover {
	background: rgba(255,255,255,0.5);
	color: #bd4a43;
}

.top-nav > a.top-nav-main {
	font-weight: 900;
}

#i-want-music-like {
	padding: 100px 160px 75px;
	font-size: 4em;
	display: inline-block;
}

#equation-builder {
	padding: 0px 100px 0px;
}

// #natural-language-form {

// }

.Select {
	display: block;
}

.Input {
	display: inline;
	& input {
		background-color: @background-color-main;
		border: none;
		color: inherit;
		font-size: inherit;
		font-family: inherit;
		font-weight: inherit;
		min-width: 185px;
		&:focus {
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: inherit
		}
		&::-moz-placeholder {
		color: inherit;
		}
		&:-moz-placeholder {   /* Older versions of Firefox */
			color: inherit;
		}
	}
	& span {
		display: none;
	}
}

.Dropdown {
	display: block;
	& ul {
		list-style-type: none;
		margin: 10px 0px 0px;
		padding: 0px;
	}
}

// country-select
@text-color: #006600;
@font-size: 3.5em;
@border-bottom: 1px dotted @text-color;

.country-select {
	color: @text-color;
	font-size: @font-size;
	& .Select {
		& .Dropdown > ul > li {
		color: fade(@text-color, 60%);
		font-size: .2 * @font-size;
		}
		& .Input > input {
			border-bottom: @border-bottom;
		}
	}
};

.resizing-input input, .resizing-input span {
	background-color: white;
    font-size: 12px;
    font-family: Sans-serif;
    white-space: pre;
    padding: 5px;
    min-width: 100px;
}
