@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-family: 'Lato', Calibri, Arial, sans-serif;
@background-color-main: #CCE5FF;
@font-color-main: #004a99;
@href-hover-color: #bd4a43;
@nl-form-font-size: 3.5em;
@info-font-size: 2.05em;
@country-select-text-color: #006600;
@vertical-line-height: 325px;
@recommended-songs-width: 350px;
@natural-language-form-width: 800px;

body, html { font-size: 100%; padding: 0; margin: 0;}

body {
	font-family: @font-family;
	color: @font-color-main;
	background: @background-color-main;
	font-weight: 300;
}

a {
	text-decoration: none;
}

.top-nav {
	background: #fff;
	background: rgba(255, 255, 255, 0.4);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 4.0;
}

.top-nav > a {
	padding: 0 1.5em;
	letter-spacing: 0.1em;
	color: #00004d;
	font-weight: 500;
	display: inline-block;
}

.top-nav > a:hover {
	background: rgba(255,255,255,0.5);
	color: @href-hover-color;
}

.top-nav > a.top-nav-main {
	font-weight: 900;
}

#i-want-music-like {
	display: block;
	font-size: 4em;
	margin: 100px 160px 75px;
}

#recommendation-form {
	display: flex;
}

#natural-language-form {
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	font-size: @nl-form-font-size;
	justify-content: space-around;
	margin-left: 50px;
	padding: 0px 10px;
	width: @natural-language-form-width;
}

#vertical-line {
	border-right: thin solid;
	color: @font-color-main;
	height: @vertical-line-height;
	margin: 0px 10px;
}

#recommended-songs-container {
	& > ol {
		margin: 0px;
		padding: 5px 5px 0px 25px;
		& > li {
			list-style-type: none;
			& > a {
				color: @font-color-main;
				&:hover {
					color: @href-hover-color;
				}
			}
		}
	}
	width: @recommended-songs-width;
}

.recommended-song {
	padding-bottom: 25px;
	padding-right: 5px;
}

.recommended-song-title {
	font-style: italic;
	font-weight: bold;
}

.natural-language-form-element {
	display: inline-block;
}

.Input {
	& input {
		background-color: @background-color-main;
		border: none;
		color: inherit;
		font-size: inherit;
		font-family: inherit;
		font-weight: inherit;
		padding: 0px;
		&:focus {
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: inherit
		}
		&::-moz-placeholder {
		color: inherit;
		}
		&:-moz-placeholder {
			color: inherit;
		}
	}
}

.Dropdown {
	& ul {
		list-style-type: none;
		margin: 0px;
		padding: 10px 0px 0px;
		& > li {
			font-size: .2 * @nl-form-font-size;
		}
	}
}

.country-select {
	color: @country-select-text-color;
	& .Select {
		& .Dropdown > ul > li {
			color: fade(@country-select-text-color, 60%);
			&.focused {
				color: @country-select-text-color;
			}
		}
	}
};

.operator-select {
	color: @font-color-main;
	margin: 0px 20px;
	padding: 6px 0px;
	width: 30px;
	& .Select {
		& .Dropdown > ul > li {
			color: fade(@font-color-main, 60%);
			&.focused {
				color: @font-color-main;
			}
		}
		& .Input {
			max-width: 20px;
		}
	}
};

#equals-sign {
	color: fade(@href-hover-color, 60%);
	&.focused {
		color: @href-hover-color;
	}
}

#info-title {
	font-size: @info-font-size;
	margin: 50px;
}

#hows-this-work > ol {
	margin: 50px 75px 0px;
	padding: 5px 0px 0px;
	& > li {
		font-size: .6 * @info-font-size;
		margin: 20px;
	}
}
