@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-family: 'Lato', Calibri, Arial, sans-serif;
@background-color-main: #CCE5FF;
@font-color-main: #004a99;

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

body {
	font-family: @font-family;
	color: @font-color-main;
	background: @background-color-main;
	font-weight: 300;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

.top-nav {
	background: #fff;
	background: rgba(255, 255, 255, 0.4);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 4.0;
}

.top-nav a {
	padding: 0 1.5em;
	letter-spacing: 0.1em;
	color: #00004d;
	font-weight: 500;
	display: inline-block;
}

.top-nav > a:hover {
	background: rgba(255,255,255,0.5);
	color: #bd4a43;
}

.top-nav > a.top-nav-main {
	font-weight: 900;
}

#i-want-music-like {
	padding: 100px 160px 75px;
	font-size: 4em;
	display: inline-block;
}

#equation-builder {
	padding: 0px 100px 0px;
}
